<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>초성게임 접속 로그</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">회원 접속 로그</h1>
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
        <tr>
            <th>회원 ID</th>
            <th>요청 시간</th>
            <th>요청 API</th>
            <th>IP 주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.memberId}"></td>
            <td th:text="${log.accessTime}"></td>
            <td th:text="${log.api}"></td>
            <td th:text="${log.ipAddress}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
